name: CI

on:
  # kudos to https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662/13
  # workflow_dispatch adds a manual trigger button in the github UI that allows
  # you to trigger builds on specific branches when you are in the page for
  # this workflow.
  workflow_dispatch:
  # pull_request triggers this workflow on both internal and forked pull
  # requests.
  pull_request:

jobs:
  posix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "pypy-3.9-v7.3.11"]
        os: [ubuntu-22.04, macos-10.15]
        gevent-version-spec: ["default"]


    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies on macOS
        if: startsWith(matrix.os, 'macos')
        # For the `gtimeout` command
        run: |
          brew install coreutils
      - name: Prepare CI environment
        env:
          GEVENT_VERSION: ${{ matrix.gevent-version-spec }}
        run: |
          bash ci/prepare-ci-env.sh
          python --version && uname -a
          pip list
      - name: pytest
        run: |
          pytest -vv test/
      - name: examples
        run: |
          bash examples/run-all.sh
      - name: audit
        run: |
          bash ci/audit.sh

  win32:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      # On win, simplify test coverage: do not take control of gevent version
      # other than what's defined in gipc's setup.py.
      - name: pip install deps
        run: |
          python --version && uname -a
          pip install .
          pip install -r requirements-tests.txt
          pip list
      - name: pytest
        run: |
          pytest -vv test/
      - name: examples
        run: |
          python examples/synchronization.py
          python examples/raw_largemsg_bench.py
          python examples/gipc_benchmark.py
          python examples/serverclient.py
